@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #272a31;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
}

header {
  position: relative;
}

.header_top {
  display: none;
}

.top_left {
  width: 60vw;
  background-color: #272a31;
  height: 4.2vh;
  transform: skew(40deg);
}

.socials {
  background-color: #272a3160;
  width: 40vw;
  padding: 4px 8px;
  display: flex;
  justify-content: end;
  transform: skew(40deg);
  height: 4.2vh;
}

.socials > * {
  transform: skew(-40deg);
}

.socials div {
  margin-right: 70px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.socials a {
  text-align: center;
  margin-right: 20px;
  transition: all 0.5s ease-in-out;
  font-weight: 550;
}

.logo a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bottom-logo a:hover {
  color: white;
}

.sec1{
  display: flex;
  background-color: #f8f5f5;
  flex-direction: column;
  height: 70vh;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.top-tittle{
  text-align: center;
  color: #ec5242;
  font-size: 150%;
  font-weight: bold;
  margin: auto;
}

.main_body {
  text-align: center;
  color: rgba(0, 0, 0, 0.527);
  background-color: #fffffff8;
  font-weight: bold;
  max-width: 80vw;
  max-height: 60vh;
  margin: auto;
}

.contact_us {
  text-align: center;
  color: #272a31;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

.contact_us p {
  color: #272a31da;
  font-size: 90%;
}

.contact_us h3 {
  color: #272a31e5;
}

.sec2 {
  color: #272a31;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fffffff8;
  height: 50vh;
  padding: 10px;
  margin-bottom: 10px;
}

.about_logo-topic{
  margin: auto;
}

.about_logo-topic h2{
  color: #272a31da;
}

.about-logo{
  margin-left: 10rem;
  margin-right: 5rem;
}

.about-logo p{
  color: #272a31d8;
}

.body_divs {
  display: flex;
  flex-direction: column;
}

.bottom-logo span {
  font-size: 12px;
  transition: all 0.5s ease-in-out;
}

.bottom-logo {
  background-color: #d3d3d3;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #ec5242;
  transition: all 0.5s ease-in-out;
  padding: 10px;
  color: #ec5242;
  margin-top: 20px;
}

.bottom-logo:hover {
  background-color: #ec5342dc;
  border: 2px solid #d3d3d3;
}

.bottom-logo h2 {
  line-height: 0.5;
  font-size: 20px;
  color: #272a31;
}

.bottom-logo span {
  color: #ec5242;
}

.odin-logo {
  display: flex;
  width: fit-content;
  position: relative;
  padding: 2rem;
  margin: auto;
}

.sec2-logo{
  float: left;
  width: 350px;
  height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.068);
  position: relative;
  justify-self: center;
  align-self: center;
  margin: auto;
}

.sec3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #272a31;
  font-weight: bold;
  background-color: #fffffff8;
  padding: 10px;
  margin-bottom: 10px;
  border-top: solid#d3d3d344;
  height: 60vh;
  justify-content: space-around;
}

.past-bootcamps h1{
  margin-bottom: 2rem;
  font-size: 150%;
  color: #272a31c5;
}

.past-bootcamps p{
  font-size: 100%;
  color: #272a31c5;
}

.past-images {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.box1 {
  float: left;
  width: 300px;
  height: 150px;
  margin-left: 10px;
  margin-top: 10px;
  border: 2px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./about-assets/top\ 2021.jpg);
  color: white;
  position: relative;
}

.box1 div,
.box2 div {
  background-color: #ec5342c5;
  height: 100%;
}

.box1 h3,
.box2 h3 {
  font-size: 90%;
}

.box1 h1,
.box2 h1 {
  padding-top: 40px;
  font-size: 200%;
  font-weight: bold;
}

.box2 {
  float: left;
  width: 300px;
  height: 150px;
  margin-left: 10px;
  margin-top: 10px;
  border: 2px solid #272a31;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./about-assets/top\ 2022.jpg);
  color: white;
}

.sec4 {
  display: flex;
  background-color: #272a31;
  color: white;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  height: 25vh;
}

.fantswam {
  margin-left: 20px;
}

.about-fantswam {
  margin-left: 10px;
  margin-right: 80px;
}

.about-fantswam h3 {
  margin-bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.socials a:hover {
  color: #ec5242;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #272a31;
}

.logo {
  background-color: #d3d3d3;
  color: #272a31;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #ec5242;
  padding: 10px;
  position: absolute;
  top: 10px;
  transition: all 0.5s ease-in-out;
}

.logo h2 {
  line-height: 0.5;
  font-size: 20px;
  color: #272a31;
}

.logo:hover {
  border-color: #272a31;
}

.clock {
  padding: 20px 5px;
  position: absolute;
  bottom: 45px;
  left: 15px;
}

.logo span {
  font-size: 12px;
  color: #ec5242;
  transition: all 0.5s ease-in-out;
}

.main {
  background-color: #ffffff;
  height: 100vh;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn_options {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #272a31;
  transition: all 0.5s ease-in-out;
  margin-right: 10px;
}

.menu-btn_options::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0.4px;
  width: 28px;
  height: 3px;
  background: #272a31;
  transition: all 0.5s ease-in-out;
}

.menu-btn_options::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0.4px;
  width: 28px;
  height: 3px;
  background: #272a31;
  transition: all 0.5s ease-in-out;
}

.menu-btn_options.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn_options.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn_options.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: relative;
  width: 100vw;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 20vh;
  overflow: hidden;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  position: relative;
  background-color: #ffffff5b;
  border-radius: 20px;
}

.nav .menu-nav.open {
  transform: translateY(0);
}

.nav .menu-nav_item {
  transform: translateX(30vw);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_item.open {
  transform: translateX(0);
}

.menu-nav_item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav_item:nth-child(4) {
  transition-delay: 0.55s;
}

.menu-nav_link {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 3px 0;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  color: #272a31;
}

.nav .menu-nav_link:hover {
  color: #ec5242;
}

i {
  margin-right: 7px;
}

.active {
  color: #ec5242;
}

.toggle-btn {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: none;
}

@media screen and (min-width: 768px) {
  .header_top {
    display: flex;
    align-items: center;
    color: aliceblue;
  }

  .logo {
    margin-top: 26px;
    margin-left: 100px;
  }

  header {
    background-color: #fffffff8;
    height: 15vh;
  }

  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }

  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }

  .nav .menu-nav_item {
    display: inline;
    padding-right: 1.5rem;
  }

  .nav .menu-nav_link {
    font-size: 1rem;
    margin-top: 6px;
  }

  .bod {
    border: white solid 2px;
  }

  .active {
    border-bottom: 2px solid #ec5242;
  }

  .clock {
    bottom: 6px;
  }

  .past-images {
    flex-direction: row;
  }

  .sec4 {
    flex-direction: row;
  }
}
