* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(./capstone-assets/pexels-edit2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.logo {
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 50px;
  border: 2px solid red;
  padding: 10px;
  margin-left: 20px;
}

.logo h2 {
  line-height: 0.5;
  font-size: 20px;
}

.logo span {
  font-size: 12px;
  color: red;
}

.logo a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav li:not(:last-child) {
  margin-right: 1rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
}



@media (max-width: 767px) {
  .header-icons {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav li:not(:last-child) {
    margin-bottom: 1rem;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  .menu li:not(:last-child) {
    margin-bottom: 1rem;
  }

  .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .menu-icon.active {
    transform: rotate(90deg);
  }
.nav {
  visibility: hidden;
  display: none;
}
}

@media (min-width: 768px) {
  .menu {
      visibility: hidden;
      display: none;
  }
  .header-icons {
    display: flex;
    align-items: center;
  }

  .menu-icon {
    display: none;
  }
}