@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.body_content {
  background-image: linear-gradient(#ffffffd8, rgba(255, 255, 255, 0.418)), url(./capstone-assets/christopher-gower-m_HRfLhgABo-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: #d3d3d3;
}

header {
  position: relative;
}

.header_top {
  display: none;
}

.socials {
  background-color: #272a31;
  width: 100vw;
  padding: 4px 8px;
  display: flex;
  justify-content: end;
}

a {
  text-decoration: none;
  color: #d3d3d3;
}

.socials a {
  text-align: center;
  margin-right: 20px;
  transition: all 0.5s ease-in-out;
}

.logo a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.sec1_content a {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  transition: all 0.5s ease-in-out;
  background-color: rgba(170, 24, 24, 0.329);
}

.sec2 a {
  color: rgb(235, 73, 15);
  font-size: 12px;
  font-weight: 1000;
  transition: all 0.5s ease-in-out;
}

.footer-links a {
  color: #d3d3d3;
  text-decoration: none;
}

.socials a:hover {
  color: #ec5242;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #272a31;
}

.logo {
  background-color: #d3d3d3;
  color: #272a31;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #ec5242;
  padding: 10px;
  position: absolute;
  top: 10px;
  transition: all 0.5s ease-in-out;
}

.logo:hover {
  border-color: #272a31;
}

.clock {
  padding: 20px 5px;
  position: absolute;
  bottom: 45px;
  left: 15px;
}

.logo h2 {
  line-height: 0.5;
  font-size: 20px;
  color: #272a31;
}

.logo span {
  font-size: 12px;
  color: #ec5242;
  transition: all 0.5s ease-in-out;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn_options {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #272a31;
  transition: all 0.5s ease-in-out;
  margin-right: 10px;
}

.menu-btn_options::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0.4px;
  width: 28px;
  height: 3px;
  background: #272a31;
  transition: all 0.5s ease-in-out;
}

.menu-btn_options::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0.4px;
  width: 28px;
  height: 3px;
  background: #272a31;
  transition: all 0.5s ease-in-out;
}

.menu-btn_options.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn_options.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn_options.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: relative;
  width: 100vw;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 20vh;
  overflow: hidden;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  position: relative;
  background-color: #ffffff5b;
  border-radius: 20px;
}

.nav .menu-nav.open {
  transform: translateY(0);
}

.nav .menu-nav_item {
  transform: translateX(30vw);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_item.open {
  transform: translateX(0);
}

.menu-nav_item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav_item:nth-child(4) {
  transition-delay: 0.55s;
}

.menu-nav_link {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 3px 0;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #272a31;
}

.nav .menu-nav_link:hover {
  color: #ec5242;
}

.main_body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 12px;
}

.topic {
  color: #df4c3c;
}

.main_body h1 {
  font-size: 40px;
  line-height: 1;
  max-width: 800px;
  background-image: url(./capstone-assets/R.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  color: transparent;
}

.text {
  max-width: 300px;
  margin-top: 20px;
  background-color: #d3d3d360;
  padding: 5px;
  border: 2px solid #272a3183;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  font-weight: 1000;
}

.end-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.end-info p {
  margin-right: 10px;
  background-color: #ec5342b4;
  padding: 5px;
  border-radius: 10px;
  font-weight: 800;
  color: aliceblue;
  text-shadow: #272a31 1px 1px 1px;
}

button {
  background-color: #272a31d7;
  margin-top: 50px;
  padding: 10px 30px;
  border: 1px solid #ec5242;
  border-radius: 20px;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #ec5342e1;
  border: 1px solid #d3d3d3;
}

i {
  margin-right: 7px;
}

.sec1 {
  background-image: url(./capstone-assets/pexels-dots.jpg);
  background-position: center;
  background-size: cover;
}

.sec1_content {
  background-color: #272a31f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
}

.sec1_content h2 {
  margin-bottom: 30px;
  padding: 7px 0;
  border-bottom: 2px solid #ec5242;
  color: #d3d3d3;
}

.sec1_content a:hover {
  background-color: #ec5242;
  border: 1px solid #ec5242;
}

.cards {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(115, 116, 117, 0.212);
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 500px;
  transition: all 0.5s ease-in-out;
  color: #d3d3d3;
}

.card_icons {
  width: 50px;
  max-height: 30px;
  margin-bottom: 0;
  margin-right: 20px;
  margin-left: 20px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card h3 {
  font-size: 18px;
  font-weight: 700;
  color: #ec5242;
  width: 120px;
}

.card p {
  font-size: 15px;
}

.p {
  position: relative;
  padding: 10px;
  right: 0;
}

.active {
  color: #ec5242;
}

.footer-links {
  margin-right: auto;
}

footer {
  background-color: #272a31;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 20vh;
}

.footer-links ul {
  list-style: none;
  display: flex;
}

.footer-links li {
  margin-left: 1rem;
}

.toggle-btn {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: none;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  padding: 20px;
  height: 1000px;
}

.boxes {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: row;
  border-left: 100px solid white;
  margin: 7px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  background-size: cover;
}

.boxes .img {
  position: absolute;
  width: 100px;
  height: 130px;
}

.info {
  margin: 100px;
  font-style: italic;
  height: 90px;
  width: 500px;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
  position: relative;
  color: #333;
}

.info h2 {
  font-size: 20px;
}

.boxes:hover {
  transform: scale(1.05);
}

.boxes:hover .info {
  background-color: transparent;
  color: white;
}

.sec2 {
  background-color: #fff;
  padding: 20px;
  justify-content: center;
}

.sec2 a:hover {
  color: red;
}

.sec2 .hd {
  text-align: center;
  width: 80vw;
  color: black;
}

@media screen and (min-width: 768px) {
  .header_top {
    display: flex;
    align-items: center;
    color: aliceblue;
  }

  .logo {
    margin-top: 26px;
    margin-left: 100px;
  }

  .logo:hover {
    border-color: #272a31;
    cursor: pointer;
  }

  header {
    background-color: #fffffff8;
    height: 15vh;
  }

  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }

  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }

  .nav .menu-nav_item {
    display: inline;
    padding-right: 1.5rem;
  }

  .nav .menu-nav_link {
    font-size: 1rem;
    margin-top: 6px;
  }

  .main_body {
    margin-left: 100px;
    margin-top: 80px;
    text-align: left;
    align-items: start;
  }

  .main_body h1 {
    font-size: 70px;
    font-weight: 1000;
    line-height: 1;
  }

  .text {
    max-width: 400px;
    margin-top: 20px;
    padding: 8px;
    font-size: 18px;
  }

  button {
    margin-top: 30px;
  }

  .cards {
    flex-wrap: nowrap;
    max-width: 80vw;
    align-items: stretch;
  }

  .card {
    flex-direction: column;
    text-align: center;
    flex: 1;
    max-width: 180px;
  }

  .bod {
    border: 2px solid #d3d3d3;
  }

  .card_icons {
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
  }

  .card h3 {
    margin-bottom: 2px;
    width: 70px;
  }

  .sec1_content a {
    padding: 10px 0;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #ec5242;
  }

  .sec1_content a:hover {
    color: #ec5242;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 16.5px;
  }

  .active {
    border-bottom: 2px solid #ec5242;
  }

  .clock {
    bottom: 6px;
  }
}

@media screen and (max-width: 600px) {
  .toggle-btn {
    display: block;
    margin-top: 1rem;
  }

  .footer-links {
    margin: 1rem 0 0;
    width: 100%;
    display: none;
  }

  .footer-links ul {
    flex-direction: column;
  }

  .footer-links li {
    margin: 0.5rem 0;
  }

  .footer-links a {
    color: #fff;
    text-decoration: none;
  }

  .footer-links.show {
    display: block;
  }
}
