@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-image: url(../capstone-assets/pexels-editted.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #fff;
  }

  .header_top {
    display: flex;
    justify-content: space-around;
  }

  .marq {
    width: 70vw;
    background-color: rgba(165, 42, 42, 0.61);
  }

  .socials {
    background-color: rgba(165, 126, 74, 0.575);
    width: 30vw;
    padding: 8px;
    display: flex;
    justify-content: end;
  }

  a {
    text-decoration: none;
    color: aliceblue;
  }
  
  .socials a {
    text-align: center;
    margin-right: 20px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
  }
  
  

  