@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-image: url(../capstone-assets/pexels-editted.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #d3d3d3;
    background-color: rgba(255, 255, 255, 0.315);
  }

  .header_top {
    display: flex;
    justify-content: space-around;
  }

  .marq {
    width: 70vw;
    background-color: #ec5242;
  }

  .socials {
    background-color: #745a58;
    width: 30vw;
    padding: 8px;
    display: flex;
    justify-content: end;
  }

  a {
    text-decoration: none;
    color: aliceblue;
  }
  
  .socials a {
    text-align: center;
    margin-right: 20px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
  }

  .socials a:hover {
    color: #ec5242;
  }  

  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }  

  .logo a,
span:hover {
  color: white;
}

.logo span {
  font-size: 12px;
  color: #ec5242;
  transition: all 0.5s ease-in-out;
}

.logo a {
  text-decoration: none;
  color: #272a31;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.logo a:hover {
  color: white;
}

.logo {
  background-color: white;
  color: #272a31;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #ec5242;
  padding: 10px;
  position: absolute;
  top: 50px;
  transition: all 0.5s ease-in-out;
  margin-left: 100px;
}

.logo:hover {
  background-color: #ec5242;
  border: 2px solid #d3d3d3;
}

.logo h2 {
  line-height: 0.5;
  font-size: 20px;
}

nav{
  width: 100%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .menu-nav{
  display: flex;
  list-style-type: none;
}

.nav .menu-nav .menu-nav_item{
  margin: 0 5px;
}

.nav .menu-nav .menu-nav_item a{
  text-decoration: none;
  padding: 0.3rem 1.3rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 1;
}

.nav .menu-nav .menu-nav_item a::after{
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(170, 24, 24, 0.637);
  z-index: -1;
  transition: 0.5s;
}

.nav .menu-nav .menu-nav_item a:hover:after{
  width: 100%;
}

.main_body{
  height: 700px;
  width: 600px;
  text-align: center;
  margin: auto;
  color: black;
  background-color: rgba(255, 255, 255, 0.281);
  font-weight: bold;
  padding: 2px;
}

.contact_us{
  text-align: center;
  color: black;
  padding: 5px;
  margin-top: 5px;
}

.bottom_top-logo{
  color: black;
  background-color: #745a58;
  font-weight: bold;
  text-align: center;
  height: 250px;
  /* background-image: url("../capstone-assets/pexels-edit2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.body_divs{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.bottom-logo a,
span:hover {
  color: white;
}

.bottom-logo span {
  font-size: 12px;
  color: #ec5242;
  transition: all 0.5s ease-in-out;
}

.bottom-logo a {
  text-decoration: none;
  color: #272a31;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bottom-logo a:hover {
  color: white;
}

.bottom-logo {
  background-color: white;
  color: #272a31;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #ec5242;
  padding: 10px;
  top: 10px;
  transition: all 0.5s ease-in-out;
  margin-left: 100px;
}

.bottom-logo:hover {
  background-color: #ec5242;
  border: 2px solid #d3d3d3;
}

.bottom-logo h2 {
  line-height: 0.5;
  font-size: 20px;
}

.odin-logo{
 display: flex;
 justify-content: center;
}